.postsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-top: 1px solid #000;
}

.textarea {
  width: 400px;
}

.button {
  width: 140px;
}

.buttonsContainer {
  display: flex;
  column-gap: 20px;
  padding: 20px 0;
}

.postsContainer {
  padding: 20px 0;
}
